body{
    margin: 0;
    padding: 0;
}
#wrapper{
    height: 100vh;
    background-color: lightgreen;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
p{
    font-size: 20px;
}
img{
    float: left;
    border-color: black;
}